<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.stlouisweb.mediametadata"
        version="0.1.0">
    <name>Media Metadata</name>
    <description>Retrieves Media Metadata via native MediaMetadataRetriever class</description>
    <license>MIT</license>
    <keywords>phonegap,android,media</keywords>


    <js-module src="www/mediaMetadata.js" name="MediaMetadata">
        <clobbers target="MediaMetadata" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaMetadata">
                <param name="android-package" value="com.stlouisweb.mediaMetadata.MediaMetadata"/>
            </feature>
        </config-file>

        <source-file src="src/android/MediaMetadata.java" target-dir="src/com/stlouisweb/mediametadata" />
    </platform>
</plugin>